* {
  height: fit-content;
}

.container {
  position: center;
  
  background-color: rgb(43, 15, 15);
  height: 600px;
  width: 600px;
}

.square {
  background-color: #0000ff;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin: 0px 10px;
}

#square2 {
  background-color: #ca2d2d;
}
